<div id="empdetailstitlecontainer">{{title}}</div>
<div id="empdetailstablecontainer">
    <table align="center">
        <tr>
            <td><label>ID</label></td>
            &nbsp;:&nbsp;<td><label id="id">{{empid}}</label><br/></td> 
        </tr>
        <tr>
            <td><label>Name</label></td>
            &nbsp;:&nbsp;<td><label id="name">{{name}}</label><br/></td> 
        </tr>
        <tr>
            <td><label>Location</label></td>
            &nbsp;:&nbsp;<td><label id="location">{{location}}</label><br/></td> 
        </tr>
        <tr>
            <td><label>Email</label></td>
            &nbsp;:&nbsp;<td><label id="email">{{email}}</label><br/></td> 
        </tr>
        <tr>
            <td><label>Mobile</label></td>
            &nbsp;:&nbsp;<td><label id="mobile">{{mobile}}</label></td> 
        </tr>
    </table>
    <br/><br/>
    <button id="back" (click)="onclickback()">Back</button>
</div>









